body{
    background-color: aliceblue;
    color: #222;
    margin: 1rem auto;
    
}
#homeContainer{
    background-color: aliceblue; 
    border: 3px dotted blue; 
    border-radius: 2rem;
    text-align: center;
    color: #222;
    
}